* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	box-sizing: border-box;
	background: #000000;
	scroll-behavior: smooth;
}


body {
	line-height: 1;
	-webkit-text-size-adjust: none;
	color: #fff;
	font-size: 16pt;
	font-weight: 300;
	-ms-overflow-style: scrollbar;
	transition: transform 0.5s ease-in-out;
}

html,
body {
	height: auto;
	font-family: "Satoshi", "Satoshi Placeholder", sans-serif;
}

/* Sliding left (forward) */
.slide-left {
	transform: translateX(-100%);
}

/* Sliding right (backward) */
.slide-right {
	transform: translateX(100%);
}

@keyframes slideOut {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	transition: transform 0.3s ease-in-out;
}

a:hover {
	text-decoration: none;
}

.italic {
	font-style: italic;
	font-family: "Old Standard TT", serif;
	letter-spacing: -1px;
	font-size: 1.3em;
}

.glow {
	color: #ffffff;
	position: relative;
	display: inline-block;
	text-decoration: none;
}

.glow::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 5px;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #f7941d, transparent);
	background-size: 200% 100%;
	animation: glowMove 2s linear infinite;
	box-shadow: 0 0 10px #f7941d, 0 0 20px #f7941d, 0 0 30px #f7941d;
	border-radius: 50%;
}


@keyframes glowMove {
	0% {
		background-position: -100% 0;
	}

	100% {
		background-position: 100% 0;
	}
}

@font-face {
	font-family: 'Poetsen One';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poetsenone/v3/ke8hOgIaMUB37xCgvCntWuIoofM.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* HEADER */

.nav-bar {
	background-color: #99999923;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 25px;
	width: auto;
	max-width: 330px;
	margin: 0.8em auto 0em auto;
	padding: 0em 0em 0.1em 0em;
	border-radius: 24px;
}

.svg-icon {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 10px 10px 10px 10px;
}

.svg-icon a {
	pointer-events: auto;
}

.svg-icon::after {
	content: attr(data-title);
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translate(-50%, -10px);
	background-color: #ffffff24;
	color: #ffffff;
	font-size: 12px;
	padding: 0.3em 0.8em;
	border-radius: 48px;
	white-space: nowrap;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.svg-icon:hover::after {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, 0);
}

.svg-icon svg {
	vertical-align: middle;
}

.svg-icon:last-child {
	padding: 11px 10px 10px 10px;
}

@media screen and (max-width: 700px) {
	.nav-bar {
		gap: 10px;
		max-width: 280px;
	}
}

/* Home */

/* Section 1 */

.section-1 {
	display: flex;
	flex-direction: row-reverse;
	gap: 2em;
	margin: 2em 2em 0em 2em;
}

.container {
	border-radius: 48px;
	margin: 0em 0em;
	border-bottom: none;
	border: solid 1px #ffffff25;
	background-color: #000000e8;
	-webkit-mask: linear-gradient(180deg, #000000 0%, #000000 80%, transparent 100%);
	mask: linear-gradient(180deg, #000000 0%, #000000 80%, transparent 100%);
}

.container:first-child {
	flex: 8;
	padding: 0em 0em 2em 0em;
}

.container:last-child {
	flex: 2;
}

.section-1-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.emoji-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1.3em 2em 0em 2em;
	gap: 5px;
}

.emoji-title img {
	width: 60px;
	height: auto;
}

.emoji-title div {
	display: flex;
	flex-direction: column;
}

.emoji-title h5 {
	color: #ffffff;
	font-weight: 500;
	font-size: 1em;
	margin: 0em 0em 0em 0em;
	padding: 0;
	line-height: 1.1;
	font-family: Poetsen One, sans-serif;
}

.emoji-title p {
	color: #ababab;
	font-weight: 500;
	font-size: 0.75em;
	margin: 0em 0em 0em 0.1em;
	padding: 0;
	line-height: 1.2;
}

.social-icons {
	display: flex;
	gap: 15px;
	align-items: center;
	margin: 0em 2em 0em 0em;
}

.icon {
	display: inline-block;
	padding: 6px 7px 0px 7px;
	border-radius: 16px;
	transition: all 0.3s ease;
	margin: 0;
}

.border {
	/* box-shadow: #0000001a 0px 4px 10px -2px,
		#0000001a 0px 2px 2px -1px,
		#ffffff1a 0px 0px 0px 1px; */
	background: #00000000;
	color: #fff;
	padding: 0.5em 0em;
	border: none;
	font-size: 0.8em;
	cursor: pointer;
	transition: all 0.3s ease;
	border: solid 1px #373737;
	border-image: linear-gradient(to right, #0e82ff, #bc50ff, #ff308a) 1;
}

.border:hover {
	box-shadow: #0000001a 0px 4px 10px -2px,
		#0000001a 0px 2px 2px -1px,
		#ffffff1a 0px 0px 0px 3px;
	cursor: pointer;
}

.content {
	padding: 2em 3em 0em 3em;
}

h2 {
	color: #ffffff;
	font-family: Poetsen One, sans-serif;
	font-size: 1.5em;
	font-weight: 500;
	letter-spacing: -0.4px;
	line-height: 1.3;
	margin: 0em 0em 1em 0em;
	background: linear-gradient(to right,
			#194bff 20%,
			#9d00ff 30%,
			#9d00ff 70%,
			#ff308a 80%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
	background-size: 500% auto;
	animation: textShine 1.5s ease-in-out infinite alternate;
}

@keyframes textShine {
	0% {
		background-position: 0% 50%;
	}

	100% {
		background-position: 100% 50%;
	}
}

.content p {
	color: #ababab;
	font-size: 1em;
	font-weight: 500;
	letter-spacing: -0.4px;
	line-height: 1.5;
	margin: 0em 0em 0.5em 0em;
	padding: 0em 0em 1em 0em;
}

.emoji-background {
	display: flex;
	align-items: center;
	justify-content: center;
}

.emoji-background img {
	margin: 1em;
	padding: 0;
	max-width: 350px;
	width: 350vw;
	height: auto;
}

@media screen and (max-width: 1188px) {
	.section-1-container:first-child {
		-webkit-mask: linear-gradient(180deg, #000000 0%, #000000 80%, transparent 100%);
		mask: linear-gradient(180deg, #000000 0%, #000000 80%, transparent 100%);
		opacity: 70%;
	}

}

@media screen and (max-width: 1000px) {
	.section-1 {
		flex-direction: column;
		gap: 2em;
		background: linear-gradient(to bottom, #000000d7, #00000000);
		border-radius: 48px;
	}

	.container:first-child,
	.container:last-child {
		background: transparent;
		padding: 0em 0em 0em 0em;
	}

	.container {
		-webkit-mask: linear-gradient(180deg, #000000 0%, #000000 0%) !important;
		mask: linear-gradient(180deg, #000000 0%, #000000 0%) !important;
	}

	.emoji-title {
		padding: 1.3em 2em 0.5em 2em;
	}

	.content {
		margin: 0em 0em 1em 0em;
	}
}

@media screen and (max-width: 540px) {
	.section-1,
	.section-3,
	.section-4 {
		margin: 2em 1em 0em 1em;
	}

	.content {
		padding: 1em 0em 0em 0.5em;
		margin: 0em 1em;
	}

	.section-3 .content {
		padding: 1em 0em 0.5em 0.5em;
	}

	.section-1-flex {
		flex-direction: column;
	}

	.social-icons {
		margin: 0em 0em 0em 3em;
	}

}

@media screen and (max-width: 400px) {
	.section-1 {
		transform: scale(0.9);
		margin: 0;
	}

	.emoji-background img {
		width: 200vw;
	}
}

/* Section 2 */

.section-2 {
	margin: 1em 0em 0em 0em;
}

.marquee {
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 0;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	mask-image: linear-gradient(to right, transparent, transparent 10%, #000000e6 20%, #000000e6 80%, transparent 90%, transparent);
	-webkit-mask-image: linear-gradient(to right, transparent, transparent 10%, #000000e6 20%, #000000e6 80%, transparent 90%, transparent);
	background: linear-gradient(to right, transparent, transparent 20%, #000000e8 30%, #000000e8 70%, transparent 80%, transparent);
	border: solid 1px #ffffff2d;
}

.marquee-content {
	display: flex;
	align-items: center;
	gap: 50px;
	animation: marqueeMove 80s linear infinite;
	width: max-content;
	white-space: nowrap;
}

.marquee-content li,
li {
	list-style: none;
	flex-shrink: 0;
}

.marquee-content img {
	object-fit: contain;
	display: block;
	height: 40px;
}

@keyframes marqueeMove {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}

.marquee-content:after {
	content: '';
	display: block;
	width: 0;
}

@media screen and (max-width: 1000px) {
	.marquee {
		background: linear-gradient(to right, transparent 2%, #000000 10%, #000000 80%, transparent 98%);
		margin: 1em 0em;
	}
}

@media (max-width: 768px) {
	.section-2 {
		margin: 0em 0em 0em 0em;
	}

	.marquee {
		mask-image: linear-gradient(to right, transparent, transparent 5%, #000000e6 15%, #000000e6 85%, transparent 95%, transparent);
		-webkit-mask-image: linear-gradient(to right, transparent, transparent 5%, #000000e6 15%, #000000e6 85%, transparent 95%, transparent);
		background: linear-gradient(to right, transparent 2%, #000000 10%, #000000 90%, transparent 98%);
	}
}

/* Section 3 */

.section-3 {
	display: flex;
	flex-direction: row;
	gap: 2em;
	margin: 2em 2em 0em 2em;
}

.section-3 .content .glow:nth-of-type(2):before {
	background: linear-gradient(90deg, #fff, #da0000, #fff);
	box-shadow: 0 0 10px #da0000, 0 0 20px #fff, 0 0 30px #da0000;
	background-size: 200% 100%;
	animation: glowMove 2s linear infinite;
}

.section-3 .content .glow:nth-of-type(2):before {
	background: linear-gradient(90deg, #c20f2d, #002e83, #c20f2d);
	box-shadow: 0 0 10px #f7c700, 0 0 20px #f7c700, 0 0 30px #f7c700;
	background-size: 200% 100%;
	animation: glowMove 2s linear infinite;
}

.section-3 .content .glow:nth-of-type(2):before {
	background: linear-gradient(90deg, #c22229, #006230, #c22229);
	box-shadow: 0 0 10px #c22229, 0 0 20px #c22229, 0 0 30px #c22229;
	background-size: 200% 100%;
	animation: glowMove 2s linear infinite;
}

.btn {
	background: #000000;
	color: #fff;
	font-weight: 300 !important;
	padding: 0.5em 0.6em 0.6em 0.8em;
	font-size: 0.8em;
	margin: 0em 0em 0em 0em;
}

.btn-flex {
	display: flex;
	align-items: center;
	gap: 0.4em;
}

.btn svg {
	width: 1.3em;
	height: auto;
	margin: 0.3em 0em 0em 0em;
}

@media screen and (max-width: 1000px) {
	.section-3 {
		flex-direction: column;
		gap: 2em;
		background: linear-gradient(to bottom, #000000d7, #00000000);
		border-radius: 48px;
		margin: 1em 2em 0em 2em;
	}

	.btn {
		display: flex;
		margin: 0.5em auto 0em auto;
	}
}

@media screen and (max-width: 540px) {
	.section-3 {
		margin: 2em 1em 0em 1em;
		gap: 1em;
	}

	.btn {
		margin: 0.5em auto 1em auto;
	}
}

/* Section 4 */

.section-4 {
	margin: 2em 2em 0em 2em;
}

@media screen and (max-width: 1000px) {
	.section-4 {
		background: linear-gradient(to bottom, #000000d7, #00000000);
		border-radius: 48px;
		margin: 2em 1em 3em 1em;
	}
}

/* Projects */

.projects {
	margin: -1em auto 5em auto;
}

@font-face {
	font-family: 'Impact';
	src: url('path/to/impact/impact-regular.woff2') format('woff2'),
		url('path/to/impact/impact-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Impact';
	src: url('path/to/impact/impact-bold.woff2') format('woff2'),
		url('path/to/impact/impact-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


.projects h2 {
	font-size: 2em;
	font-family: 'Impact', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	text-transform: uppercase;
	margin: 2em auto 0.5em auto;
	font-weight: 400;
	line-height: 1;
	-webkit-text-fill-color: #ffffff;
	background: none;
	text-shadow: -1px -1px 20px #ffffff73;
	-webkit-text-stroke: 1px #ffffffe6;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	letter-spacing: 1px;
}

.projects h2:first-child {
	margin: 1.5em auto 0.2em auto;
}

/* Toggle */

.toggle-container {
	text-align: center;
	margin: 0em 0em 1em 0em;
}

.switch {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 33px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #030305;
	transition: .4s;
	border: solid 1px #4b4b4b;
	border-radius: 30px;
	box-shadow: 0px 0px 10px 0px #ffffff61;
}

.slider:before {
	position: absolute;
	content: "";
	height: 23px;
	width: 23px;
	left: 5px;
	bottom: 4px;
	background-color: #ffffff;
	transition: .4s;
}

input:checked+.slider {
	background-color: #0a1123;
}

input:checked+.slider:before {
	transform: translateX(65px);
}

.on {
	display: none;
	left: 20% !important;
}

.off {
	left: 60%;
}

.on,
.off {
	color: #ffffff;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 35%;
	left: 36%;
	font-size: 0.5em;
	user-select: none;
	text-transform: uppercase;
	font-weight: 700;
	transform: scale(1, 1.4);
}

input:checked+.slider .on {
	display: block;
}

input:checked+.slider .off {
	display: none;
}

.slider.round:before {
	border-radius: 50%;
}

.desktop {
	display: block;
}

.mobile {
	display: none;
}

@media (max-width: 600px) {
	.toggle-container {
		text-align: center;
		margin: 0.5em 0em 2em 0em;
	}
}

/* End of Toogle */

.project-container:nth-of-type(1) .projects-logo {
	width: 170px;
	margin: 0em 0em 0.5em 4em;
}

.project-container:nth-of-type(2) .projects-logo {
	width: 100px;
	margin: 2em 0em 0em 4em;
}

.project-container:nth-of-type(3) .projects-logo {
	width: 230px;
	margin: 3em 0em 0.5em 4em;
}

.project-container:nth-of-type(4) .projects-logo {
	width: 140px;
	margin: 3em 0em 0.5em 4em;
}


.projects-marquee {
	display: flex;
	overflow: hidden;
	user-select: none;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

.projects-marquee__content {
	animation: projects-marquee-scroll 45s linear infinite;
	display: flex;
	flex-shrink: 0;
	justify-content: space-evenly;
	min-width: 100%;
	padding: 0;
	margin: 0em 0.5em 0em 0em;
	gap: 10px;
}


.project-container:nth-of-type(2) .projects-marquee__content,
.project-container:nth-of-type(4) .projects-marquee__content {
	animation: projects-marquee-scroll-reverse 45s linear infinite;
}

.projects-marquee__content>li {
	list-style-type: none;
	display: flex;
	align-items: center;
	margin: 0em 0em 0em 0em;
}

.projects-marquee__project {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	height: auto;
}

.desktop .projects-marquee__project {
	width: 500px;
}

.mobile .projects-marquee__project {
	width: 300px;
}

.projects-marquee__project__image {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects-marquee__project__image img {
	width: 100%;
	height: auto;
}

.desktop .projects-marquee__project__image img,
.mobile .projects-marquee__project__image img {
	border-radius: 12px;
}

.projects-marquee:hover .projects-marquee__content {
	animation-play-state: paused;
}

@media (prefers-reduced-motion: reduce) {
	.projects-marquee__content {
		animation-play-state: paused !important;
	}
}

@keyframes projects-marquee-scroll {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

@keyframes projects-marquee-scroll-reverse {
	from {
		transform: translateX(-100%);
	}

	to {
		transform: translateX(0);
	}
}

.tile-bgd {
	border-radius: 12px;
	margin: 0;
	padding: 0;
	width: 350px;
	height: 350px;
	max-width: 350px;
	max-height: 350px;
	border: solid 1px #3a3a3a;
}

.didea {
	background-color: #fde2d5;
}

.wedding {
	background-color: #000000;
}

.ask {
	background-color: #fce4de;
}

.omnifood {
	background-color: #fcf2e9;
}

.nasonex {
	background-color: #b9dde5;
}

.aerius {
	background-color: #478493;
}

.aerius-nasonex {
	background-color: #81a7b0;
	display: flex;
	flex-direction: column;
	padding: 0em 1em;
}

.project-flex {
	display: flex;
	justify-content: center;
}

.tile-bgd img {
	border: none;
	padding: 0em 0.3em;
}

@media screen and (max-width: 500px) {
	.projects h2 {
		font-size: 1.8em;
		margin: 2em 0.5em 1em 0.5em;
	}

	.project-container img {
		display: block;
	}

	.projects-marquee {
		overflow-x: auto;
		/* Enable horizontal scrolling */
		overflow-y: hidden;
		/* Prevent vertical scrolling */
		scroll-snap-type: x mandatory;
		/* Ensure smooth scrolling */
		-webkit-overflow-scrolling: touch;
		/* Enable smooth scrolling on mobile */
	}

	.projects-marquee__content {
		scroll-snap-align: start;
		/* Make each item snap into place */
	}

	.projects-marquee::-webkit-scrollbar {
		display: none;
		/* Chrome, Safari, Opera */
	}

	.projects-marquee__content>li {
		list-style-type: none;
		display: flex;
		align-items: center;
		margin: 0;
		flex-shrink: 0;
		scroll-snap-align: center;
		/* Each item aligns to the center while scrolling */
	}

	.project-container:nth-of-type(1) .projects-logo {
		margin: 0em auto 0.5em auto;
	}

	.project-container:nth-of-type(2) .projects-logo {
		margin: 2em auto 0em auto;
	}

	.project-container:nth-of-type(3) .projects-logo {
		margin: 3em auto 1em auto;
	}

	.project-container:nth-of-type(4) .projects-logo {
		margin: 3em auto 1em auto;
	}

	.projects-marquee__project {
		width: 400px;
	}

	@keyframes projects-marquee-scroll {
		from {
			transform: translateX(0);
		}

		to {
			transform: translateX(-100%);
		}
	}

	@keyframes projects-marquee-scroll-reverse {
		from {
			transform: translateX(-100%);
		}

		to {
			transform: translateX(0);
		}
	}

	.tile-bgd {
		width: 250px;
		height: 250px;
		max-width: 250px;
		max-height: 250px;
	}

	.desktop .projects-marquee__project {
		width: 350px;
	}
}

/* Experience */

.experience {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4em 4em 2em 4em;
	margin: 0em 1em 4em 1em;
	color: #b0b0b0c4;
	font-family: "Poppins", "Poppins Placeholder", sans-serif;
	gap: 3em;
	position: relative;
}

.experience-entry {
	display: grid;
	grid-template-columns: minmax(150px, 200px) 1px minmax(300px, 800px);
	gap: 2em;
	justify-content: center;
	width: 100%;
	max-width: 1200px;
	align-items: start;
	padding: 1em 0em 1em 0em !important;
}

.experience-year {
	font-size: 0.6em;
	line-height: 1.2;
	font-weight: 700;
	margin: 0.5em 0em 0em 1em;
	text-align: right;
}

.experience-line {
	width: 1px;
	height: 0%;
	background: #fff;
	position: absolute;
}

.experience-entry:nth-of-type(2) .experience-line {
	height: 98%;
	top: 55px;
}

.experience-dot {
	width: 8px;
	height: 8px;
	background: #ffffff;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, 115%);
}

.experience-content {
	padding: 0em 1em 0em 0em;
}

.experience-title {
	margin: 0em 0em 0.5em 0em;
	font-weight: 600;
	color: #ffffffc4;
}

.experience-content h2 {
	font-size: 1em;
	line-height: 1.3;
	margin: 0em;
	-webkit-text-fill-color: #ffffffc4;
	background: none;
}

.experience-content h2 span {
	text-shadow: 1px 1px 18px #ffffff;
	display: flex;
	align-items: center;
	flex-direction: row;
}

.il-flag {
	width: 22px;
	height: auto;
	margin: 0em 0em 0em 0.2em;
}

.experience-content p {
	font-size: 0.7em;
	line-height: 1.3;
}

.skills {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
	margin: 0.8em 0em 0em 0em;
}

.skill {
	padding: 0.5em 0.8em 0.4em 0.8em;
	border-radius: 20px;
	font-weight: 700;
	color: #dedede;
	font-size: 0.85em;
	position: relative;
	background: #000000;
	box-shadow: 0px 0px 8px 0px #ffffff85;
}

.skill::after {
	content: '';
	position: absolute;
	top: -1px;
	bottom: -1px;
	left: -1px;
	right: -1px;
	background: linear-gradient(to right, #0e82ff, #bc50ff, #ff308a);
	z-index: -1;
	border-radius: 20px;
}

@media screen and (max-width: 800px) {
	.experience {
		padding: 0em 3.5em 0em 0.5em;
		margin: 4em 0em 0em 0em;
	}

	.experience-entry {
		gap: 1em;
	}

	.experience-content {
		padding: 0em 0em 0em 0em;
	}

	.experience-dot {
		width: 6px;
		height: 6px;
		margin: 0.2em 0em 0em 0em;
	}

	.experience-entry:nth-of-type(2) .experience-line {
		height: 102%;
		top: -35px;
	}

}

@media screen and (max-width: 500px) {
	.experience {
		padding: 0em 0em 0em 0em;
		margin: 4em 0em 5em 0em;
	}

	.experience-entry {
		margin: 0em 0em 0em 0em;
		gap: 0.5em;
		justify-content: end;
		max-width: 410px;
	}

	.experience-year {
		margin: 0.5em 0em 0em 0em;
	}

	.experience-content h2 {
		padding: 0em 2em 0em 0em;
	}

	.experience-content p {
		margin: 0em 0em 2em 0em;
		max-width: 280px;
	}

	.experience-entry:nth-of-type(2) .experience-line {
		height: 101%;
		top: -15px;
	}
}

@media screen and (max-width: 400px) {
	.experience-entry {
		margin: 0em 3em 0em 0em;
		width: 100%;
		justify-content: center;
		max-width: 430px;
	}

	.experience-year {
		margin: 0.5em 0em 0em 7em;
	}

	.experience-content {
		max-width: 255px;
	}

	.experience-content h2 {
		padding: 0em 2em 0em 0em;
	}

	.experience-content p {
		margin: 0em 0em 2em 0em;
		max-width: 250px;
	}

	.experience-entry:nth-of-type(2) .experience-line {
		height: 101%;
		top: -15px;
	}
}

/* Contact */

.contact {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	gap: 2em;
	margin: 2em;
}

.contact .container {
	padding: 2em;
	background-color: #0f0f0f;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: none;
	color: #d6d6d6e2;
	fill: #d6d6d6e2;
	height: 700px;
	border-radius: 24px;
}

.border-glow {
	background: linear-gradient(to bottom, #0e82ff, #bc50ff, #ff308a, transparent 90%);
	padding: 2px;
	border-radius: 24px;
	-webkit-mask: linear-gradient(180deg, #000000 0%, #000000 90%, transparent 100%);
	mask: linear-gradient(180deg, #000000 0%, #000000 90%, transparent 100%);
}

.contact-details h4 {
	font-family: Poetsen One, sans-serif;
	font-weight: 500;
	font-size: 2em;
	margin: 0.5em 0em 0.6em 0em;
	line-height: 1.1;
	text-align: center;
}

.contact-details .social-icons {
	justify-content: center;
	margin: 0em 0em 0em 0em;
}

.contact-details .social-icons a {
	border-radius: 50%;
	padding: 0.3em 0.4em 0em 0.4em;
}

.contact-emoji {
	background-color: #646464ae;
	border-radius: 24px;
	padding: 0.5em 0em 1em 0em;
	display: flex;
	justify-content: center;
}

.contact-emoji img {
	width: 90%;
}

.contact-content {
	max-width: 700px;
}

.contact h2 {
	font-size: 4.5em;
	font-family: "Poppins", "Poppins Placeholder", sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	color: #7d7d7d;
	line-height: 1;
	margin: 0em 1em 0em 0em;
}

#contact-form {
	background: linear-gradient(to bottom, #252525, #00000000);
	padding: 1.5em 2em 3em 2em;
	border-radius: 24px;
	margin: 1em 0em 2em 0em;
}

.form-row {
	display: flex;
	gap: 15px;
}

.form-group {
	flex: 1;
	margin-bottom: 15px;
}

.contact label {
	display: block;
	color: #fff;
	font-size: 0.6em;
	margin: 0em 0em 0.1em 0.2em;
}

input,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #444;
	background: #333;
	color: #fff;
	font-size: 14px;
	resize: vertical;
	overflow: hidden;
}

input:focus,
textarea:focus {
	border: 1px solid;
	border-image: linear-gradient(to right, #0e82ff, #bc50ff, #ff308a) 1;
	outline: none;
}

input:focus,
textarea:focus {
	background: #333 !important;
	color: #fff !important;
	box-shadow: none !important;
}

input:valid,
textarea:valid {
	border-image: linear-gradient(to right, #0e82ff, #bc50ff, #ff308a) 1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus {
	background-color: #333 !important;
	color: #fff !important;
	-webkit-text-fill-color: #fff !important;
	-webkit-box-shadow: 0 0 0px 1000px #333 inset !important;
	box-shadow: 0 0 0px 1000px #333 inset !important;
	border: 1px solid #444 !important;
	border-image: linear-gradient(to right, #0e82ff, #bc50ff, #ff308a) 1 !important;
}

.thank-you-message {
	background: linear-gradient(to bottom, #363636, #00000000);
	padding: 2em 1em 3em 1em;
	border-radius: 20px;
	margin: 2em 0em;
}

#thank-you-message {
	font-size: 0.9em;
	display: none;
	color: #d6d6d6e2;
	margin: 2em 0em 0em 0em;
	text-align: center;
	padding: 2em 1em 3em 1em;
	border-radius: 20px;
	border: solid 1px #ffffff3d;
    background-color: #131313;
    -webkit-mask: linear-gradient(180deg, #000000 0%, #000000 15%, transparent 100%);
    mask: linear-gradient(180deg, #000000 0%, #000000 15%, transparent 100%);
}

.contact button {
	width: 100%;
}

.contact button:hover {
	border: none;
}

@media screen and (max-width: 1000px) {
	.contact h2 {
		font-size: 3.5em;
		margin: 0em 0em 0em 0em;
	}

	.form-row {
		flex-direction: column;
		gap: 0px;
	}
}

@media screen and (max-width: 930px) {
	.contact {
		transform: scale(0.9);
		margin: 1em 0em;
	}
}

@media screen and (max-width: 800px) {
	.contact .container {
		padding: 1em;
	}


	#contact-form {
		padding: 1.5em 0.6em 3em 0.6em;
	}
}

@media screen and (max-width: 700px) {
	.contact {
		transform: scale(1.0);
		flex-direction: column;
		align-items: center;
		margin: 2em 0em 0em 0em;
	}

	.contact .container {
		height: 580px;
		width: 85vw;
	}

	.border-glow {
		background: linear-gradient(to bottom, #0e82ff, #bc50ff, #ff308a, transparent 98%);
	}

	.contact-details h4 {
		margin: 0.5em 0em 0.5em 0em;
		font-size: 1.6em;
	}

	.contact h2 {
		font-size: 3.5em;
		margin: 0em 0.5em 0.2em 0.5em;
		text-align: center;
	}

	#contact-form {
		padding: 1.5em 1em 3em 1em;
		margin: 0em 3em;
	}

	.form-row {
		gap: 15px;
		flex-direction: row;
	}
}

@media screen and (max-width: 490px) {
	.contact h2 {
        font-size: 3em;
        margin: 0em 0.5em 0.3em 0.5em;
    }
	
	.form {
		width: 90vw;
		margin: 0em auto;
	}

	#contact-form {
		margin: 0em auto;
	}

	.form-row {
		flex-direction: column;
		gap: 0px;
	}
}

/* Footer */

footer p {
	text-align: center;
	font-size: 0.8em;
	color: #ababab;
	margin: 3em 1em 2em 1em;
}

@media screen and (max-width: 540px) {
	footer p {
		font-size: 0.7em;
		margin: 5em 2em 2em 2em;
	}
}